.payment-dashboard-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-top: 24px;
}

.payment-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 1200px) {
  .payment-dashboard-layout {
    grid-template-columns: 1fr;
  }
}